.current-weather-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px;
    font-size: 17px;
    font-weight: 900;
    -webkit-text-stroke: 0.5px rgb(13, 13, 13);
    background: rgba(0, 0, 0, 0.5);
    color: #fff; 
    padding: 5px; 
    border-radius: 5px; 
  }
  
  .weather-icon {
    width: 50px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    margin: -25px;
  }
  
  .weather-details {
    font-size: 18px; /* Ajusta el tamaño de fuente según tus necesidades */
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    color: #fff; 
    padding: 5px; 
    border-radius: 5px; 
  }
  
  .weather-description {
    color: #555; /* Ajusta el color según tus preferencias */
  }
  
  .current-weather-container.thunderstorm {
    background-image: url('../../assets/images/Thunderstorm.jpeg');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  }
  
  .current-weather-container.drizzle {
    background-image: url('../../assets/images/Drizzle.jpg');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  }
  
  .current-weather-container.rain {
    background-image: url('../../assets/images/Rain.jpg');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  }
  
  .current-weather-container.snow {
    background-image: url('../../assets/images/Snow.jpg');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  }
  
  .current-weather-container.mist {
    background-image: url('../../assets/images/Mist.webp');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  }
  
  .current-weather-container.smoke {
    background-image: url('../../assets/images/Smoke.avif');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  }
  
  .current-weather-container.haze {
    background-image: url('../../assets/images/Haze.jpg');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  }
  
  .current-weather-container.dust {
    background-image: url('../../assets/images/Dust.jpg');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  }
  
  .current-weather-container.fog {
    background-image: url('../../assets/images/Fog.jpeg');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  }
  
  .current-weather-container.sand {
    background-image: url('../../assets/images/Sand.webp');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  }
  
  .current-weather-container.ash {
    background-image: url('../../assets/images/ash.jpeg');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  }
  
  .current-weather-container.squall {
    background-image: url('../../assets/images/squall.jpg');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  }
  
  .current-weather-container.tornado {
    background-image: url('../../assets/images/tornado.webp');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  }
  
  .current-weather-container.clear {
    background-image: url('../../assets/images/clear.jpg');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  }
  
  .current-weather-container.clouds {
    background-image: url('../../assets/images/clouds.jpg');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  }
  