body, html {
  margin: 0;
  padding: 0;
}
.search-container {
  margin: 0;  /* Asegurar que no haya márgenes adicionales */
  padding: 0; /* Asegurar que no haya padding adicional */
}

.home-container {
  display: grid;
  grid-template-rows: auto auto auto auto;  
  grid-template-columns: auto auto auto; 
  grid-template-areas: 
    "search search search"
    "details currentweather map"
    "forecast forecast forecast"; 
  gap: 10px;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}


.map-wrap {
  width: 100%;
  height: 300px; /* o cualquier otra altura que desees */
  overflow: hidden; /* esto prevendrá el desbordamiento */
}



.initial-prompt, .forecast-container {
  grid-column: span 3; /* Estos contenedores ocuparán las 3 columnas */
}

.details-container {
  grid-area: details;
}

.search-container {
  grid-area: search;
}

.current-weather {
  grid-area: currentweather;
}

