body, html {
  margin: 0;
  padding: 0;
}
.search-container {
  display: flex;
  justify-content: space-between; 
}

.home-container {
  display: grid;
  grid-template-rows: auto auto auto auto;  
  grid-template-columns: 1fr 1.5fr 1.5fr; /* Cambia auto por 1fr para un tamaño uniforme */
  grid-template-areas: 
    "search search search"
    "details currentweather map"
    "forecast forecast forecast"; 
    row-gap: 20px; /* Espacio entre filas */
    column-gap: 10px; /* Espacio entre columnas */
  justify-items: stretch;
  align-items: stretch; /* Esta propiedad ya está configurada para estirar los elementos para que coincidan con la altura de la celda */
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}




.map-wrap {
  width: 100%;
  height: 300px; /* o cualquier otra altura que desees */
  overflow: hidden; /* esto prevendrá el desbordamiento */
}



.initial-prompt, .forecast-container {
  grid-column: span 3; /* Estos contenedores ocuparán las 3 columnas */
}

.details-container {
  grid-area: details;
}

.search-container {
  grid-area: search;
}

.current-weather {
  grid-area: currentweather;
}

