.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin: 0 auto; /* Esto centrará el contenedor horizontalmente */
    margin-top: 10px;
    padding-bottom: 0px;
  }
  
  .search-container input {
    margin-right: 0px;
    padding: 0px;
    font-size: 16px;
    flex: 1;
    border-color: #fd7e31;
    color: #ffff;
    background-color: #022c43;
  }
  
  .search-container button {
    padding: 0px 10px;
    font-size: 16px;
    border-color: #fd7e31;
    background-color: #022c43;
    border-color: #fd7e31;
    color: #fd7e31;
  }
  