@import "~leaflet/dist/leaflet.css";

/* Reset básico */
html, body, div, h1, h2, h3, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Estilos generales */
html, body {
  font-size: 62.5%; /* Esto establece 1rem a 10px */
  height: 100%;
  width: 100%;
  font-family: 'Helvetica Neue', sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); /* Fondo degradado */

}




